.animationTriangleUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-left: 50px;
}
.animationDiv {
  background-color: white;
  border-radius: 6px;
  padding: 5px 20px 20px 20px;
}
.animationIconDiv {
  text-align: center;
  border: solid 1px #dfe4e8;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 5px 10px 5px;
}
.animationIconsDiv {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  margin: 10px 0px 10px 0px;
}
.animationIcon {
  height: 30px;
}
h6 {
  color: #414143;
  font-size: 1.4rem;
}
.animationIconDivContainer {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.animationSeparationLine {
  color: #abafbd;
}
.animationHeading {
  color: black;
}
.sliderHeading {
  font-size: 13px !important;
}
.sliderHeading .arabicMode {
  text-align: left !important;
}
