.sidebarContent {
  background-color: #222834;
  border-top-left-radius: 15px;
  border: 0px solid black;
  padding: 0px;
  width: 100%;
}
.templatesHead {
  background-color: #0e1318;
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 1px;
  border-top-left-radius: 0;
  height: 5rem;
}
.templatesHead h1 {
  text-align: center;
  font: 400 2rem NeoSans;
}
.foldersContainer {
  padding: 20px 20px 0px 25px;
}
.createFolderDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
  padding: 3rem 2rem 2rem;
}
.createFolderHeading {
  color: white;
  font: 400 1.8rem NeoSans;
  cursor: pointer;
  margin: 0;
}
.createFolderIcon {
  height: auto;
  width: 1.6rem;
}
.folderNameInputFeildDiv {
  margin: 2rem;
}
.folderNameInputFeild {
  border-radius: 0.3rem;
  height: 5rem;
  font-size: 2rem;
}
.tickFolderIconDiv {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: linear-gradient(104.08deg, #5a4cce 13.11%, #2b7efb 123.2%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tickFolderIcon {
  margin: 10px;
  height: 30px;
  width: 30px;
}
